@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300);
body {
  color: #222;
  background: #f5f5f5;
  font-family: Lato, sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 16px;
  display: block;
}

.main {
  overflow-x: hidden;
}

/*  Slider */
#main-slider-lavender {
  max-height: 40em;
  overflow: hidden;
}
#main-slider-lavender img {
  width: 100%;
  filter: saturate(1.5);
}
#main-slider-lavender .txt-container {
  position: absolute;
  z-index: 4444;
  top: 0;
  width: 100%;
}
#main-slider-lavender .txt-container .main-container {
  margin-top: 100px;
}
#main-slider-lavender .txt-container .main-container h2 {
  padding: 10px 15px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 44px;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-top: 30px;
  border: 5px solid black;
}
@media screen and (max-width: 1500px) {
  #main-slider-lavender .txt-container .main-container h2 {
    background-color: rgba(0, 0, 0, 0.61);
    color: white;
    border: none;
  }
}
#main-slider-lavender .txt-container .main-container .sub {
  margin-top: 0;
  color: white;
}

#main-slider, #main-slider-lavender {
  position: relative;
  z-index: 5;
  color: #202020;
}
#main-slider .carousel-inner .carousel-content, #main-slider-lavender .carousel-inner .carousel-content {
  margin-top: 100px;
}
@media (max-width: 365px) {
  #main-slider .carousel-inner .carousel-content h2.header-title, #main-slider-lavender .carousel-inner .carousel-content h2.header-title {
    font-size: 2em;
  }
}
#main-slider .carousel-inner img.back-image, #main-slider-lavender .carousel-inner img.back-image {
  padding-top: 3em;
  width: 100%;
}

.backstretch:before {
  content: "";
  min-width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  z-index: -1;
}

#main-slider .carousel h2 {
  font-size: 44px;
  color: #202020;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-top: 30px;
}
#main-slider .carousel .btn {
  border: 5px solid #202020;
  color: #202020;
  border-radius: 0;
  margin-top: 35px;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 15px;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px;
  z-index: 10;
}
#main-slider .carousel .btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #202020;
}
@media (max-width: 1000px) {
  #main-slider .carousel .btn {
    margin-top: 0;
  }
}
#main-slider .carousel .boxed {
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  text-transform: uppercase;
}
#main-slider .carousel .item {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  height: 600px;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}
#main-slider .carousel .item:first-child {
  top: auto;
  position: relative;
}
#main-slider .carousel .item.active {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 1;
}

.home-icon {
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  clear: both;
  display: block;
  font-size: 78px;
  margin: 100px auto 0;
  position: relative;
  width: 80px;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
}

#single-page-slider {
  padding-top: 150px;
}
#single-page-slider .carousel {
  z-index: 5 !important;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px;
}

#main-slider-page {
  min-height: 350px;
  z-index: 2 !important;
}

#recent-works {
  padding: 90px 0;
}
#recent-works .item-inner {
  position: relative;
  margin: 0;
}

.portfolio-items {
  list-style: none;
  padding: 0;
  margin: 0 -20px 20px 0;
}

.portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0 -20px 20px 0;
}
.portfolio-filter > li {
  display: inline-block;
}
.portfolio-filter > li a.active {
  color: #FFF;
  background: #00b29e;
  border: 2px solid #00b29e;
}

.portfolio-items > li {
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.portfolio-items.col-2 > li {
  width: 50%;
}
.portfolio-items.col-3 > li {
  width: 33%;
}
.portfolio-items.col-4 > li {
  width: 25%;
}
.portfolio-items.col-5 > li {
  width: 20%;
}
.portfolio-items.col-6 > li {
  width: 16%;
}

.portfolio-item {
  padding: 0;
  margin: 0;
}
.portfolio-item .item-inner {
  background: #fff;
  padding: 0;
  margin: 0 20px 20px 0;
  position: relative;
}
.portfolio-item img {
  width: 100%;
}
.portfolio-item h5 {
  background: #fff;
  margin: 0;
  padding: 15px;
  font-weight: 700;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  border-bottom: 4px solid #f0f0f0;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.portfolio-item:hover h5 {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-bottom: 4px solid #00b29e;
}

.team-member:hover .team-content, .post:hover .content {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-bottom: 4px solid #00b29e;
}

.portfolio-item h5:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 15px;
  margin-left: -15px;
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
.portfolio-item .overlay .preview {
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}
.portfolio-item:hover .overlay {
  opacity: 1;
}

#content-wrapper {
  padding: 0;
  z-index: 5;
  position: relative;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
}

.white {
  background: #f8f8f8;
  padding: 20px 0;
}

.light-prpl {
  background: #a89ac0;
  color: white;
}

#content-wrapper section {
  padding-top: 30px;
}

#footer-wrapper {
  z-index: 1;
  padding-top: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #202020;
}

.widget-img {
  max-width: 80px;
  height: auto;
}

.about-us-widget {
  background-size: contain;
}

.widget-title {
  font-size: 18px;
  text-transform: uppercase;
}

.testimonial-quote blockquote {
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  font-family: Georgia, serif;
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.4 !important;
  margin: 0;
  position: relative;
  text-shadow: 0 1px white;
  z-index: 600;
}

.testimonial-quote blockquote * {
  box-sizing: border-box;
}

.testimonial-quote blockquote p {
  color: #573997;
  line-height: 1.4 !important;
}

.testimonial-quote blockquote p:first-child:before {
  content: "“";
  color: #573997;
  font-size: 7.5em;
  font-weight: 700;
  opacity: 0.3;
  position: absolute;
  top: -0.4em;
  left: -0.2em;
  text-shadow: none;
  z-index: -300;
}

.center {
  text-align: center;
}

#portfolio {
  padding-bottom: 6em;
}
@media (max-width: 768px) {
  #portfolio {
    padding-bottom: 1em;
  }
}

h2.main-title-header {
  background: #a89ac0;
  margin-top: 0;
  padding: 0.5em;
  color: white;
  padding-left: 2.5em;
}

#content-wrapper section#stats {
  padding-top: 20px;
  color: #a89ac0;
  border-bottom: 1px solid #a89ac0;
  background: white;
}
#content-wrapper section#stats .stat-icon {
  color: #777679;
  color: #573997;
  font-size: 44px;
}
#content-wrapper section#stats .stat-icon.prpl {
  color: #573997;
}

#content-wrapper section#stats.prpl {
  color: #777679;
}

#stats {
  padding-bottom: 20px;
}
#stats h1 {
  margin: 10px 0;
  font-size: 32px;
}
#stats h3 {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  #stats h3 {
    font-size: 14px;
  }
}

.divider-section {
  position: relative;
  overflow: hidden;
  display: block;
  color: black;
}
.divider-section a {
  color: #f5f5f5;
}

.img-production-container div[class^=col-] {
  padding-left: 9px;
  padding-right: 9px;
}
.img-production-container div[class^=col-] .img-prod {
  position: relative;
}
.img-production-container div[class^=col-] .img-prod h5 {
  position: absolute;
  margin: auto;
  text-align: center;
  z-index: 24;
  width: 100%;
  font-size: 1.5em;
  margin-top: calc(100% - 80px);
  font-weight: 300;
  padding: 0.5em;
  color: #fcfcfc;
  text-shadow: 0px 4px 3px #24143a, 0px 8px 13px #1c0935, 0px 18px 23px #261240;
  display: none;
}
.img-production-container div[class^=col-] .img-prod .production-img {
  height: 30em;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2em;
}
.img-production-container div[class^=col-] .img-prod .production-img .img-transperant {
  height: 100%;
  position: relative;
  line-height: 16;
  color: #f8f8f8;
  text-align: center;
  background: #000;
  background: -moz-linear-gradient(-45deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
  background: -webkit-linear-gradient(-45deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
  background: linear-gradient(135deg, #000000 0%, #000000 25%, #dcd277 50%, #1e0233 75%, #7800a8 100%);
  background-size: 400% 400%;
  cursor: pointer;
  transition: 0.8s all;
  mix-blend-mode: screen;
}
@supports (-ms-ime-align: auto) {
  .img-production-container div[class^=col-] .img-prod .production-img .img-transperant {
    opacity: 0.1;
  }
}
.img-production-container div[class^=col-] .img-prod:hover h5 {
  display: block;
}
.img-production-container div[class^=col-] .img-prod:hover .img-gradient {
  background: rgba(37, 18, 56, 0.82);
  width: 100%;
  height: 100%;
  top: 0;
  transition: 0.8s all;
  position: absolute;
}
.img-production-container div[class^=col-] .img-prod:hover .img-transperant {
  background-position: 100% 100%;
}

.production-img {
  height: 17em;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2em;
}

.team-image span {
  display: inline-block;
  font-size: 1.1em;
  height: 3.5em;
  width: 100%;
  padding: 0.1em;
  font-weight: 100;
  margin: 0;
  line-height: 1em;
}

@media (max-width: 768px) {
  .team-image span {
    height: 2.5em;
    padding: 0.3em;
  }
}
@media (min-width: 1200px) {
  .team-image span {
    height: 2.5em;
    padding: 0.3em;
  }
}
.family-section, .gallery-section {
  background-color: white;
  color: #202020;
  padding-bottom: 3em;
}
.family-section .map, .gallery-section .map {
  width: 100%;
  height: 100%;
}

#content-wrapper section.family-section {
  padding-top: 6em;
  padding-bottom: 9em;
}
@media (max-width: 768px) {
  #content-wrapper section.family-section {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.contacts {
  color: white;
  font-weight: 100;
}

.placeholder {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 60px;
}

.gridContainer {
  width: 100%;
  height: 100%;
}
.gridContainer.popUpGrid {
  background: #49355c;
}
.gridContainer.popUpGrid .gridTile {
  transition-timing-function: ease-in;
  /* Quick on the way out */
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.gridContainer .gridTile {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: center;
}

.navbar-inverse {
  padding: 10px 0;
  background-color: #202020;
  border: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.navbar-inverse .navbar-toggle {
  background-color: transparent;
  color: #fff;
}

.navbar-fixed-top {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-inverse .navbar-brand {
  font-family: Lato, sans-serif;
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}
.navbar-inverse .navbar-nav {
  margin-top: 0px;
  margin-bottom: 0px;
}
.navbar-inverse .navbar-nav > li > a {
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 15px;
  padding: 15px 15px 10px;
  letter-spacing: 1px;
  color: #f5f5f5;
  font-weight: 400;
  text-shadow: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}
.navbar-inverse .navbar-nav > li > a::before, .navbar-inverse .navbar-nav > li > a::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.3s 0 0.3s;
  -moz-transition: opacity 0.3s 0 0.3s;
  transition: opacity 0.3s transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.navbar-inverse .navbar-nav > li > a:hover::before, .navbar-inverse .navbar-nav > li > a:focus::before, .navbar-inverse .navbar-nav > li > a:hover::after, .navbar-inverse .navbar-nav > li > a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.navbar-inverse .navbar-nav > li > a::before {
  top: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.navbar-inverse .navbar-nav > li > a::after {
  bottom: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.navbar-inverse .navbar-nav > li > a::before, .navbar-inverse .navbar-nav > li > a::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition: opacity 0.3s 0 0.3s;
  -moz-transition: opacity 0.3s 0 0.3s;
  transition: opacity 0.3s transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}
.navbar-inverse .navbar-nav > .active > a {
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .open > a {
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: transparent;
}
.navbar-inverse .navbar-nav .dropdown-menu {
  background-color: #202020;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
  padding: 0;
  margin-top: 15px;
}

.navbar-right .dropdown-menu {
  right: auto;
  left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
  padding: 8px 15px;
  color: #efefef;
}
.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a, .navbar-inverse .navbar-nav .dropdown-menu > li:focus > a, .navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
  background-color: rgba(0, 0, 0, 0.3);
}
.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}
.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
  background-color: rgba(0, 0, 0, 0.1);
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-top: 0;
}

.opaqued {
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.navbar-inverse.opaqued .navbar-nav .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-brand h1 {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  margin-top: 4px;
}

@media (max-width: 1000px) {
  #main-slider {
    min-height: 30em;
  }
  #main-slider .carousel .boxed {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.65);
  }
}
a, p {
  font-family: "Raleway", sans-serif;
}

section#contact {
  padding-top: 0;
}

.cont-contactInfo {
  float: left;
  padding-right: 5%;
  width: 45%;
}
.cont-contactInfo h3 {
  font-size: 28px;
}
.cont-contactInfo h4 {
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
}
.cont-contactInfo h4.section {
  margin: 30px 0 0;
}
.cont-contactInfo p {
  margin: 0;
}
.cont-contactInfo p > a {
  text-transform: uppercase;
  font-weight: bold;
}
.cont-contactInfo .social-icons {
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
}
.cont-contactInfo .social-icons li {
  float: left;
  margin-right: 3px;
}
.cont-contactInfo .social-icons li a {
  background-repeat: no-repeat;
  display: block;
  height: 28px;
  width: 29px;
}
.cont-contactInfo .social-icons li a:hover {
  opacity: 0.8;
}
.cont-contactInfo .social-icons li a.icon_twitter {
  background-position: -33px 0;
}
.cont-contactInfo .social-icons li a.icon_linkedin {
  background-position: -68px 0;
}
.cont-contactInfo .social-icons li a.icon_youtube {
  background-position: -102px 0;
}
.cont-contactInfo .social-icons li a.icon_pinterest {
  background-position: -135px 0;
}
.cont-contactInfo .social-icons li a.icon_vimeo {
  background-position: -169px 0;
}
.cont-contactInfo .social-icons li a.icon_instagram {
  background-position: -204px 0;
}

.cont-contactBtn {
  position: relative;
  height: 22em;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}
.cont-contactBtn .cont-flip {
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
}
.cont-contactBtn .cont-flip .front, .cont-contactBtn .cont-flip .back {
  -webkit-box-shadow: 0px -7px 15px -1px #b3afb3;
  -moz-box-shadow: 0px -7px 15px -1px #b3afb3;
  box-shadow: 0px -7px 15px -1px rgba(218, 213, 218, 0.48);
  border-top: 1px solid #e1d9d9;
  display: block;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cont-contactBtn .cont-flip .back {
  background: #202020;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.cont-contactBtn .btn {
  margin-top: 2em;
  margin-bottom: 2em;
}
.cont-contactBtn .cont-flip.flipped {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.cont-contactBtn .contact-form {
  max-width: 45em;
  margin-top: 50px;
}
.cont-contactBtn .contact-form input, .cont-contactBtn .contact-form textarea {
  border: 1px solid #808080;
  font-size: 12px;
  padding: 10px 0;
  text-transform: uppercase;
}
.cont-contactBtn .contact-form input[type=text] {
  float: left;
  margin-bottom: 8px;
  padding-left: 3%;
  width: 100%;
}
@media (min-width: 768px) {
  .cont-contactBtn .contact-form input[type=text] {
    width: 48%;
  }
  .cont-contactBtn .contact-form textarea#tx {
    width: 99%;
  }
}
.cont-contactBtn .contact-form .gutter {
  margin-right: 2.8%;
  width: 100%;
}
.cont-contactBtn .contact-form textarea {
  height: 106px;
  padding-left: 3%;
  margin-bottom: 22px;
  width: 100%;
}
.cont-contactBtn .contact-form input[type=submit] {
  background-color: #ff4d54;
  border: none;
  color: #fff;
  height: 45px;
  width: 100%;
  max-width: 93px;
  text-align: center;
}
.cont-contactBtn .close {
  display: block;
  height: 19px;
  width: 19px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 15px;
  right: 3%;
}

.btn {
  border: 1px #202020 solid;
  border-radius: 0;
  background: white;
  color: black;
  display: block;
  font-size: 15px;
  font-weight: normal;
  margin: 0 auto;
  max-width: 230px;
  padding: 9px 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
}

/*# sourceMappingURL=App.css.map */
