$black: #202020;
$lightGrey: #838386;
$darkgrey:#777679;
$honey: #bf5c0a;
$transparentGrey: rgba(0, 0, 0, 0.8);
$lightOrange: #948806;
$darkOrange: #796f03de;
$transparentOrange: #796f036b;
$pink: #c05357;
$darkPink: #713e4c;
$purple: #49355c;
$purple2: #944eb5;
