
.img-animation {
  animation: .6s cubic-bezier(.25, .25, .25, 1.15) both fade-in;
  .card {
    backface-visibility: hidden;
    &.front {
    }

    &.back {
      transform: rotateY(180deg);
    }
  }
}

@for $i from 1 through 4 {
  .img-animation {
    &:nth-child(#{$i}) {

      // Delay the animation. Delay increases as items loop.
      animation-delay: $i * (0.3s);
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: rotateY(180deg);
  }

  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}