.navbar-inverse {
  padding: 10px 0;
  background-color: #202020;
  border: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.navbar-inverse .navbar-toggle {
  background-color: transparent;
  color: #fff;
}

.navbar-fixed-top {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-inverse .navbar-brand {
  font-family: Lato, sans-serif;
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}
.navbar-inverse .navbar-nav {
  margin-top: 0px;
  margin-bottom: 0px;
}
.navbar-inverse .navbar-nav > li > a {
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 15px;
  padding: 15px 15px 10px;
  letter-spacing: 1px;
  color: #f5f5f5;
  font-weight: 400;
  text-shadow: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}
.navbar-inverse .navbar-nav > li > a::before, .navbar-inverse .navbar-nav > li > a::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.3s 0 0.3s;
  -moz-transition: opacity 0.3s 0 0.3s;
  transition: opacity 0.3s transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.navbar-inverse .navbar-nav > li > a:hover::before, .navbar-inverse .navbar-nav > li > a:focus::before, .navbar-inverse .navbar-nav > li > a:hover::after, .navbar-inverse .navbar-nav > li > a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.navbar-inverse .navbar-nav > li > a::before {
  top: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.navbar-inverse .navbar-nav > li > a::after {
  bottom: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.navbar-inverse .navbar-nav > li > a::before, .navbar-inverse .navbar-nav > li > a::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition: opacity 0.3s 0 0.3s;
  -moz-transition: opacity 0.3s 0 0.3s;
  transition: opacity 0.3s transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}
.navbar-inverse .navbar-nav > .active > a {
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .open > a {
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: transparent;
}
.navbar-inverse .navbar-nav .dropdown-menu {
  background-color: #202020;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
  padding: 0;
  margin-top: 15px;
}

.navbar-right .dropdown-menu {
  right: auto;
  left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
  padding: 8px 15px;
  color: #efefef;
}
.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a, .navbar-inverse .navbar-nav .dropdown-menu > li:focus > a, .navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
  background-color: rgba(0, 0, 0, 0.3);
}
.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}
.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
  background-color: rgba(0, 0, 0, 0.1);
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-top: 0;
}

.opaqued {
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.navbar-inverse.opaqued .navbar-nav .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-brand h1 {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  margin-top: 4px;
}

@media (max-width: 1000px) {
  #main-slider .carousel .boxed {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.65);
  }
}
@media (max-width: 768px) {
  #main-slider .carousel .boxed, #main-slider .carousel .sub-main-title {
    background-color: rgba(0, 0, 0, 0.65);
    margin: 0;
    padding: 5px;
    color: white;
  }
}

/*# sourceMappingURL=navigation.css.map */
