@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300);
body {
  color: #222;
  background: #f5f5f5;
  font-family: Lato, sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 16px;
  display: block;
}
.main{
  overflow-x: hidden;
}

@import 'components/colors';
@import 'components/slider';
@import 'pages/contact';
@import 'pages/home';
@import 'components/buttons';
@import 'components/navigation';
@import 'components/message-form';

