@charset "UTF-8";
#content-wrapper {
  padding: 0;
  z-index: 5;
  position: relative;
}

.white {
  background: #f8f8f8;
  padding: 20px 0;
}

.light-prpl {
  background: #a89ac0;
  color: white;
}

#content-wrapper section {
  padding-top: 30px;
}

#footer-wrapper {
  z-index: 1;
  padding-top: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #202020;
}

.border-hr hr {
  border-top: 1px solid black;
}

.widget-img {
  max-width: 80px;
  height: auto;
}

.about-us-widget {
  background-size: contain;
}

#lavender-slider {
  background: white;
}

.widget-title {
  font-size: 18px;
  text-transform: uppercase;
}

.testimonial-quote blockquote {
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  font-family: Georgia, serif;
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.4 !important;
  margin: 0;
  position: relative;
  text-shadow: 0 1px white;
  z-index: 600;
}

.testimonial-quote blockquote * {
  box-sizing: border-box;
}

.testimonial-quote blockquote p {
  color: #573997;
  line-height: 1.4 !important;
}

.testimonial-quote blockquote p:first-child:before {
  content: "“";
  color: #573997;
  font-size: 7.5em;
  font-weight: 700;
  opacity: 0.3;
  position: absolute;
  top: -0.4em;
  left: -0.2em;
  text-shadow: none;
  z-index: -300;
}

.center {
  text-align: center;
}

#portfolio {
  padding-bottom: 6em;
}
@media (max-width: 768px) {
  #portfolio {
    padding-bottom: 1em;
  }
}

h2.main-title-header {
  background: #a89ac0;
  margin-top: 0;
  padding: 0.5em;
  color: white;
  padding-left: 2.5em;
}

.prpl-title {
  color: #573997;
}

.sub-main-title {
  margin: 0;
}

@media (max-width: 768px) {
  .natural-img-container .natural-img {
    display: none;
  }
}

@media (max-width: 768px) {
  .natural-img-container-mobile {
    width: 100%;
    text-align: center;
    background: #a89ac0;
  }
}
@media (min-width: 769px) {
  .natural-img-container-mobile {
    display: none;
  }
}
@media (max-width: 768px) {
  .natural-img-container-mobile .natural-img {
    padding: 1em;
    height: 12em;
    margin-top: 2em;
    background: white;
    border-radius: 50%;
  }
}

#content-wrapper section#stats {
  padding-top: 20px;
  color: #a89ac0;
  border-bottom: 1px solid #a89ac0;
  background: white;
}
#content-wrapper section#stats .stat-icon {
  color: #777679;
  color: #573997;
  font-size: 44px;
}
#content-wrapper section#stats .stat-icon.prpl {
  color: #573997;
}

#content-wrapper section#stats.prpl {
  color: #777679;
}

#stats {
  padding-bottom: 20px;
}
#stats h1 {
  margin: 10px 0;
  font-size: 32px;
}
#stats h3 {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  #stats h3 {
    font-size: 14px;
  }
}

.divider-section {
  position: relative;
  overflow: hidden;
  display: block;
  color: black;
}
.divider-section a {
  color: #f5f5f5;
}

.img-production-container div[class^=col-] {
  padding-left: 9px;
  padding-right: 9px;
}
.img-production-container div[class^=col-] .img-prod {
  position: relative;
  height: 30em;
}
@media (max-width: 768px) {
  .img-production-container div[class^=col-] .img-prod {
    height: 18em;
    margin-bottom: 2em;
  }
}
.img-production-container div[class^=col-] .img-prod h5 {
  position: absolute;
  margin: auto;
  text-align: center;
  z-index: 24;
  width: 100%;
  font-size: 1.5em;
  font-weight: 300;
  padding: 0.5em;
  color: #fcfcfc;
  text-shadow: 0px 4px 3px #24143a, 0px 8px 13px #1c0935, 0px 18px 23px #261240;
  display: none;
  top: 50%;
  transform: translateY(-50%);
}
.img-production-container div[class^=col-] .img-prod .production-img {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.img-production-container div[class^=col-] .img-prod .production-img .img-transperant {
  height: 100%;
  position: relative;
  line-height: 16;
  color: #f8f8f8;
  text-align: center;
  background: #000;
  background: -moz-linear-gradient(-45deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
  background: -webkit-linear-gradient(-45deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
  background: linear-gradient(135deg, #000000 0%, #000000 25%, #dcd277 50%, #1e0233 75%, #7800a8 100%);
  background-size: 400% 400%;
  cursor: pointer;
  transition: 0.8s all;
  mix-blend-mode: screen;
}
@supports (-ms-ime-align: auto) {
  .img-production-container div[class^=col-] .img-prod .production-img .img-transperant {
    opacity: 0.1;
  }
}
.img-production-container div[class^=col-] .img-prod:hover h5 {
  display: block;
}
.img-production-container div[class^=col-] .img-prod:hover .img-gradient {
  background: rgba(37, 18, 56, 0.82);
  width: 100%;
  height: 100%;
  top: 0;
  transition: 0.8s all;
  position: absolute;
}
.img-production-container div[class^=col-] .img-prod:hover .img-transperant {
  background-position: 100% 100%;
}

.front.card {
  position: relative;
}
.front.card .more-icon {
  position: absolute;
  margin: auto;
  text-align: center;
  z-index: 24;
  width: 100%;
  font-size: 1.5em;
  font-weight: 300;
  padding: 0.5em;
  color: #fcfcfc;
  text-shadow: 0px 4px 3px #24143a, 0px 8px 13px #1c0935, 0px 18px 23px #261240;
  display: none;
  top: 50%;
  transform: translateY(-50%);
}
.front.card .img-transperant {
  height: 100%;
  position: relative;
  line-height: 16;
  color: #f8f8f8;
  text-align: center;
  background: #000;
  background: -moz-linear-gradient(-45deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
  background: -webkit-linear-gradient(-45deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
  background: linear-gradient(135deg, #000000 0%, #000000 25%, #dcd277 50%, #1e0233 75%, #7800a8 100%);
  background-size: 400% 400%;
  cursor: pointer;
  transition: 0.8s all;
  mix-blend-mode: screen;
}
@supports (-ms-ime-align: auto) {
  .front.card .img-transperant {
    opacity: 0.1;
  }
}
.front.card:hover .more-icon {
  display: block;
}
.front.card:hover .more-icon i {
  padding: 0.6em;
  border: 1px solid white;
  border-radius: 50%;
}
.front.card:hover .img-gradient {
  background: rgba(37, 18, 56, 0.82);
  width: 100%;
  height: 100%;
  top: 0;
  transition: 0.8s all;
  position: absolute;
}
.front.card:hover .img-transperant {
  background-position: 100% 100%;
}

.production-img {
  height: 17em;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2em;
}

.team-image span {
  display: inline-block;
  font-size: 1.1em;
  height: 3.5em;
  width: 100%;
  padding: 0.1em;
  font-weight: 100;
  margin: 0;
  line-height: 1em;
}

@media (max-width: 768px) {
  .team-image span {
    height: 2.5em;
    padding: 0.3em;
  }
}
@media (min-width: 1200px) {
  .team-image span {
    height: 2.5em;
    padding: 0.3em;
  }
}
.family-section, .gallery-section {
  background-color: white;
  color: #202020;
  padding-bottom: 3em;
}
.family-section .map, .gallery-section .map {
  width: 100%;
  height: 100%;
}

#content-wrapper section.family-section {
  padding-top: 6em;
  padding-bottom: 9em;
}
@media (max-width: 768px) {
  #content-wrapper section.family-section {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.contacts {
  color: white;
  font-weight: 100;
}

/*# sourceMappingURL=home.css.map */
